*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tophead{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0px,100px;
    align-items: center;
    background-color: #05571d;
    justify-content: space-between;
    padding-left: 80px;
}
.tophead ul li{
    color: #fff;
    display: inline-block;
    margin: 0px 3px;
}
.tophead ul li a{
    color: #c2e4c6;
}
header{
    background-color: #3fba64;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 80px;
}
header h1{
    font-size: 50px;
    margin-right: 20px;
}
header h1,header h3{
    display: inline-block;
    color: white;
    font-family: Verdana;
    font-weight: 500
}
nav{
    background-color: #83e3a0;
    padding-left: 80px;
}
nav ul li{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 20px;
    list-style: none;
    margin-right: 20px;
    
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 560;
    font-family: Verdana;
    font-size: 15px;
}
nav ul li a:hover{
    font-size: 105%;
    transition: 0.3s linear;
}
section{
    width: 100%;
    padding: 0px 80px;
}
main{
    padding-right: 30px;
    padding-bottom: 30px;
}
main p{
    padding-top: 7px;
}
main h2{
    font-family: Verdana;
    font-size: large;
    padding-top: 10px;
}
main h3,main h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana;
}
section main{
    width: 80%;
    float: left;
    padding-top: 20px;
}
section aside{
    width: 20%;
    float: right;
    background-color: #bde0c3;
    padding: 20px 15px;
}
aside ul li{
    font-weight: 600;
    list-style: none;
}
aside ul li ul li{
    font-weight: normal;
    padding-left: 20px;
}
footer{
    width: 100%;
    height: 119px;
    color: #fff;
    background-color: #05571d;
    padding: 10px 80px;
    margin-bottom: 20px;
}
footer .links{
    width: 33%;
    float: left;
}
footer .fellow{
    width: 33%;
    float: left;
}
footer .copy{
    width: 34%;
    float: right;
    text-align: right;
}
footer ul li{
    list-style: none;
    font-size: smaller;
    font-weight: 5px;
    font-family: Verdana;
}
footer h4{
    padding-bottom: 5px;
    color: rgb(247, 247, 199);
    font-family: Verdana;
    font-size: small;
    font-weight: 20px;
}
footer h5{
    color: rgb(247, 247, 199);
    font-size: small;
    font-weight: bold;
}
@media screen and (max-width:991px){
    .tophead, footer{
        height: auto;
        padding: 10px;
    }
    .tophead ul li{
        display: block;
    }
    header, nav{
        text-align: center;
        padding: 0px 10px;
    }
    section{
        padding: 0px 0px 0px 10px;
    }
}
@media screen and (max-width:767px){
    section main,section aside{
        width: 100%;
        float: none;
        padding: 0px;
    }
    footer .links,footer .fellow,footer .copy{
        float: none;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:575px){
    header{
        line-height: normal;
    }
    header h1,header h3{
        display: block;
    }
}